/***Title***/
h3{
	text-align: center;
}

.cathegory{
	border: 3px solid;
	text-align: center;
}

/***Forms***/

#choices, #connected, #listOfResume,
#formStatus, #formSkills, #formJobs,
#formStudies, #formHobbies, #Resume{
	display:none;
}

/***Displays***/